---
import { getCollection } from "astro:content";
import FrontmatterLayout from "../../layouts/FrontmatterLayout.astro";
import Hero from "../../components/Hero.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

export async function getStaticPaths() {
  const articleDetails = await getCollection("articles");
  return articleDetails.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<FrontmatterLayout
  frontmatter={entry.data}
  title={entry.data.title}
  description={entry.data.summary}
>
  {
    entry.data.bannerShow == true && (
      <Hero
        url={entry.data.banner}
        title={entry.data.title}
        summary={entry.data.summary}
      />
    )
  }
  <Breadcrumbs section="projects" page={entry.data.title} />
  <main class="prose | flow">
    <Content />
  </main>
</FrontmatterLayout>
