---
import { getCollection } from "astro:content";
import FrontmatterLayout from "../../layouts/FrontmatterLayout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const articleDetails = await getCollection("articles");
  return articleDetails.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<FrontmatterLayout frontmatter={entry.data}>
  {
    entry.data.bannerShow == true && (
      <div class="hero">
        <Image
          src={entry.data.banner}
          alt={entry.data.title}
          class="image image--cover"
        />
        <div class="hero__content">
          <h1>{entry.data.title}</h1>
          <div>{entry.data.summary}</div>
        </div>
      </div>
    )
  }
  <main class="prose | flow">
    <Content />
  </main>
</FrontmatterLayout>
