---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const allarticles = await getCollection("articles");

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<Layout title="Articles" description="All my articles">
  <main id="main-content" class="container" role="main">
    <div class="grid-auto-fit" id="main-content">
      {
        allarticles.map((article) => (
          <div class="article-card">
            <Image
              class="article-card--image"
              loading="eager"
              src={article.data.banner}
              alt={`${article.data.title} summary`}
            />
            <h2 class="heading-4">
              <a href={`/articles/${article.id}`} title={article.data.title}>
                {article.data.title}
              </a>
            </h2>
            <p>
              {article.data.publishDate.toLocaleDateString(
                "en-GB",
                dateOptions
              )}
            </p>
            <p>{article.data.description}</p>
            <div>
              {article.data.keywords.map((keyword) => (
                <span>{keyword}</span>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
