---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
const allArticles = await getCollection("projects");
---

<Layout
  title="Welcome"
  description="Portfolio of Edinburgh based digital designer Andrew Cetnarskyj"
>
  <main id="main-content" class="container container--wide" role="main">
    <h2 class="intro">
      I WORK WITH DESIGN SYSTEMS AND EXPERIMENT WITH CODE...
    </h2>

    <div class="grid__two-column" id="main-content">
      {
        allArticles.map((project) => (
          <ProjectCard
            thumbnail={project.data.thumbnail}
            title={project.data.title}
            description={project.data.description}
            strapline={project.data.strapline}
            slug={project.id}
          />
        ))
      }
    </div>
  </main>
</Layout>
