---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const allArticles = await getCollection("projects");
---

<Layout
  title="Welcome"
  description="Portfolio of Edinburgh based digital designer Andrew Cetnarskyj"
>
  <main class="container--wide">
    <h2 class="intro">I WORK WITH DESIGN SYSTEMS AND TINKER WITH CODE...</h2>

    <div class="grid-auto-fit">
      {
        allArticles.map((project) => (
          <div class="product_card">
            <Image
              class="project_card--image"
              src={project.data.thumbnail}
              alt={`${project.data.title} summary`}
            />
            <h2 class="heading-4">
              <a href={project.slug} title={project.data.strapline}>
                {project.data.title}
              </a>
            </h2>
            <p>{project.data.description}</p>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
