---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
const allArticles = await getCollection("projects");
---

<Layout
  title="Welcome"
  description="Portfolio of Edinburgh based digital designer Andrew Cetnarskyj"
>
  <main class="container container--wide">
    <h2 class="intro">I WORK WITH DESIGN SYSTEMS AND TINKER WITH CODE...</h2>

    <div class="grid__two-column">
      {
        allArticles.map((project) => (
          <ProjectCard
            thumbnail={project.data.thumbnail}
            title={project.data.title}
            description={project.data.description}
            strapline={project.data.strapline}
            slug={project.slug}
          />
        ))
      }
    </div>
  </main>
</Layout>
