---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import HomeCard from "../components/HomeCard.astro";
import Image from "astro/components/Image.astro";

import StandardLifeLogo from "../assets/standard-life.svg";
import WoodMac from "../assets/woodmac_logo.svg";
import LinkedIn from "../assets/linkedin-logo.svg";
import JustAndy from "../assets/safari-pinned-tab.svg";

const articles = await getCollection("articles");
const latestArticle = articles.sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)[0];

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<Layout
  title="Welcome"
  description="Portfolio of Edinburgh based digital designer Andrew Cetnarskyj"
>
  <main id="main-content" class="container container--wide">
    <h2 class="intro">
      I WORK WITH <span>DESIGN SYSTEMS</span> AND EXPERIMENT WITH CODE...
    </h2>

    <div class="home-grid">
      <div class="home-grid__tl home-grid__separator">
        <HomeCard
          title="Compound Design System"
          cta={{
            destination: "/projects/compound",
            label: "Find out about this system",
          }}
        >
          <Image src={StandardLifeLogo} alt="" slot="logo" />
          The design system for Standard Life, which is my current project, includes
          a React Native and HTML/CSS component library. Documentation is handled
          via Figma and Supernova, ensuring comprehensive coverage across all platforms.
        </HomeCard>
      </div>
      <div class="home-grid__tr home-grid__separator">
        <HomeCard
          title="Hydrocarbon Design System"
          cta={{
            destination: "/projects/hydrocarbon",
            label: "Find out about this system",
          }}
        >
          <Image src={WoodMac} alt="" slot="logo" />
          In my previous role, I helped build and deliver Hydrocarbon, the React-based
          design system for Wood Mackenzie. This project involved creating scalable
          components and establishing design standards across the organisation.
        </HomeCard>
      </div>
      <div class="home-grid__bl">
        <HomeCard title="Join my network">
          <Image src={LinkedIn} alt="" slot="logo" />
          <p>
            I'm an active member of the **Design Systems Slack Group** and
            always looking to grow my network and share knowledge and
            experience. Collaboration and continuous learning are central to my
            approach.
          </p>
          <a
            href="https://www.linkedin.com/in/andrewcetnarskyj/"
            target="_blank"
            rel="external">Join my network</a
          >
        </HomeCard>
      </div>
      <div class="home-grid__br">
        <HomeCard
          title="Hi, I'm Andy"
          cta={{ destination: "/about", label: "Find out more" }}
        >
          <Image src={JustAndy} alt="" slot="logo" />

          <p>
            I'm a seasoned UX and product designer who has worked in design
            systems for the last eight years. This portfolio showcases a
            selection of my work and experiments across various projects and
            initiatives.
          </p>
        </HomeCard>
      </div>
    </div>
    <section class="container container--wide">
      <article class="article-latest">
        <header class="article-card__header">
          <time
            class="article-card--time"
            datetime={latestArticle.data.publishDate.toISOString()}
            >{
              latestArticle.data.publishDate.toLocaleDateString(
                "en-GB",
                dateOptions
              )
            }</time
          >
          <h2 class="article-card__title">
            <a
              href={`/articles/${latestArticle.id}`}
              title={latestArticle.data.title}>{latestArticle.data.title}</a
            >
          </h2>
        </header>
        <!-- Render content if needed -->
        <p>
          {latestArticle.data.summary}
        </p>
        <footer class="article-card__footer">
          <div class="tags">{latestArticle.data.keywords.join(", ")}</div>
        </footer>
      </article>
    </section>
  </main>
</Layout>
