---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";

const allArticles = await getCollection("projects");
const sortedArticles = allArticles.sort((a, b) => a.data.order - b.data.order);
---

<Layout
  title="Projects and Case Studies"
  description="Previous projects and case studies"
>
  <main
    id="main-content"
    class="container"
    aria-describedby="projects-description"
  >
    <div class="page-intro">
      <h1 id="page-title">Projects and Case Studies</h1>
      <p id="projects-description">
        A showcase of {sortedArticles.length} selected projects and case studies.
      </p>
    </div>
    <ul class="grid__two-column grid__two-column--cards" role="list" aria-labelledby="page-title">
      {
        sortedArticles.map((project) => (
          <ProjectCard
            thumbnail={project.data.thumbnail}
            title={project.data.title}
            description={project.data.description}
            strapline={project.data.strapline}
            slug={project.id}
          />
        ))
      }
    </ul>
  </main>
</Layout>
