---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";

const allArticles = await getCollection("projects");
const sortedArticles = allArticles.sort((a, b) => a.data.order - b.data.order);
---

<Layout
  title="Projects and Case Studies"
  description="Previous projects and case studies"
>
  <main id="main-content" class="container">
    <h1>Projects and Case Studies</h1>
    <ul class="grid__two-column grid__two-column--cards" role="list">
      {
        sortedArticles.map((project) => (
          <ProjectCard
            thumbnail={project.data.thumbnail}
            title={project.data.title}
            description={project.data.description}
            strapline={project.data.strapline}
            slug={project.id}
          />
        ))
      }
    </ul>
  </main>
</Layout>
