---
import { Image } from "astro:assets";
const { title, thumbnail, description, strapline, slug } = Astro.props;
---

<div class="project-card">
  <Image
    class="project-card__image"
    src={thumbnail}
    alt={`${title} summary`}
    loading="eager"
  />
  <div class="project-card__summary">
    <h2 class="heading-4">
      <a href={`/projects/${slug}`} title={strapline}>
        {title}
      </a>
    </h2>
    <p>{description}</p>
  </div>
</div>
