---
import { Image } from "astro:assets";
const { title, thumbnail, description, strapline, slug } = Astro.props;
---

<li class="project-card retro-card">
  <a
    href={`/projects/${slug}`}
    class="project-card__link"
    aria-label={strapline}
  >
    <div class="project__media">
      <Image
        class="project-card__image"
        src={thumbnail}
        alt={`${title} summary`}
        loading="eager"
      />
    </div>
    <div class="project-card__summary">
      <h2 class="project-card__title">{title}</h2>
      <p>{description}</p>
    </div>
  </a>
</li>
