---
import { getCollection } from "astro:content";
import FrontmatterLayout from "../../layouts/FrontmatterLayout.astro";
import { Image } from "astro:assets";
import Hero from "../../components/Hero.astro";
import { Breadcrumbs, BreadcrumbsItem } from "accessible-astro-components";

export async function getStaticPaths() {
  const projectDetails = await getCollection("projects");
  return projectDetails.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<FrontmatterLayout frontmatter={entry.data}>
  <Hero
    url={entry.data.banner}
    title={entry.data.title}
    summary={entry.data.summary}
  />
  <div id="main-content">
    <Breadcrumbs>
      <BreadcrumbsItem href="/" label="Home" />
      <BreadcrumbsItem href="/projects" label="Projects" />
      <BreadcrumbsItem currentPage={true} label={entry.data.title} />
    </Breadcrumbs>
    <div class="prose">
      <Content />
    </div>
  </div>
</FrontmatterLayout>
