---
import { getCollection } from "astro:content";
import FrontmatterLayout from "../../layouts/FrontmatterLayout.astro";
import { Image } from "astro:assets";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

export async function getStaticPaths() {
  const projectDetails = await getCollection("projects");
  return projectDetails.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<FrontmatterLayout frontmatter={entry.data}>
  <div>
    <h1>{entry.data.title}</h1>
    <p>{entry.data.summary}</p>
    <Image
      src={entry.data.banner}
      alt={`${entry.data.title} banner`}
      class="image image--cover"
    />
  </div>
  <div class="flow prose">
    <Breadcrumbs section="projects" page={entry.data.title} />
    <Content />
  </div>
</FrontmatterLayout>
