---
import { getCollection, render } from "astro:content";
import FrontmatterLayout from "../../layouts/FrontmatterLayout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Hero from "../../components/Hero.astro";

export async function getStaticPaths() {
  const projectDetails = await getCollection("projects");
  return projectDetails.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const tags = entry.data.tags;
const { Content } = await render(entry);

const projectTags = tags.map((tag, index) => {
  return index + 1 !== tags.length ? `${tag}, ` : tag;
});
---

<FrontmatterLayout frontmatter={entry.data}>
  <div id="main-content">
    <Hero
      url={entry.data.banner}
      title={entry.data.title}
      tags={entry.data.tags}
      summary={entry.data.summary}
    />
    <Breadcrumbs section="projects" page={entry.data.title} />
    <div class="prose | flow | content-grid">
      <Content />
      <div class="tags">{projectTags}</div>
    </div>
  </div>
</FrontmatterLayout>
